@import './style/grid.scss';

@font-face {
	font-family: 'la-norde';
	src: url('../type/la-norde.woff');
	src: local('☺'), url('../type/la-norde.woff') format('woff');
// 	font-display: swap;
}

@font-face {
	font-family: 'px-grotesk';
	src: url('../type/px-grotesk.woff');
	src: local('☺'), url('../type/px-grotesk.woff') format('woff');
// 	font-display: swap;
}

.f-la { font-family: 'la-norde', var(--system-ui); }
.f-px { font-family: 'px-grotesk', var(--system-ui); }

.fs-lg {
	font-size: 2.4rem;
	line-height: 1;
	@include breakpoint(md) { font-size: 3.2rem; }
}

.fs-sm { font-size: 1.6rem; }

.fs-p-lg {
	font-size: 1.6rem;
	@include breakpoint(mdl) { font-size: 2.4rem; }
}

.fs-p {
	font-size: 1.6rem;
	@include breakpoint(mdl) { font-size: 2rem; }
}

.uc { text-transform: uppercase; }
.taj { text-align: justify; }
.tar { text-align: right; }
.tac { text-align: center; }
