@import './style/grid.scss';

// various
.debug { border: 2px solid hotpink; }
.pointer { &:hover { cursor: pointer; } }

.width {
  position: relative;
  margin: 0 auto;
  max-width: var(--max-width);
  width: 88vw;
}

.no-scroll {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

// button(s)
.button-primary, .button-primary--white {
  padding: 1.4rem 2.4rem 1.2rem;
  font-size: 1.4rem;
  transition: var(--ease);
}

.button-primary--white { background: var(--cloud); }

// animations
.stagger-swift {
  opacity: 0;
  will-change: opacity;
  animation: In calc(var(--animbase) * 2) var(--inout) 200ms forwards;
}

.stagger-swift-ease {
  opacity: 0;
  will-change: opacity;
  animation: In 1000ms ease 400ms forwards;
}

.stagger-zero {
  opacity: 0;
  will-change: opacity;
  animation: In calc(var(--animbase) * 2) var(--inout) calc(var(--animbase) * 2) forwards;
}

.stagger {
  opacity: 0;
  will-change: opacity;
  animation: In var(--animbase) var(--inout) calc(var(--animbase) * 2.4) forwards;
}

.stagger-long {
  opacity: 0;
  will-change: opacity;
  animation: In 1000ms ease calc(var(--animbase) * 2.4) forwards;
}

.stagger-one {
  opacity: 0;
  will-change: opacity;
  animation: In var(--animbase) var(--inout) calc(var(--animbase) * 2.8) forwards;
}

.stagger-two {
  opacity: 0;
  will-change: opacity;
  animation: In calc(var(--animbase) * 2) var(--inout) calc(var(--animbase) * 3) forwards;
}

.stagger-three {
  opacity: 0;
  will-change: opacity;
  animation: In calc(var(--animbase) * 2) var(--inout) calc(var(--animbase) * 3.5) forwards;
}

.from-left {
  transform: translateX(-100vw);
  will-change: transform;
  animation: FromLeft calc(var(--animbase) * 2) var(--inout) forwards;
}

.from-top {
  will-change: transform;
  animation: FromTop 1200ms var(--inout) forwards;
}

.stagger-out {
  opacity: 0;
  will-change: opacity;
  animation: Out var(--animbase) var(--inout) calc(var(--animbase) * 1) forwards;
}

.scale-md {
  transform: scale(1.1);
  will-change: transform;
  animation: ScaleMd 1500ms ease forwards;
}

.scale-left {
  transform: translateX(0);
  will-change: transform;
  animation: ScaleLeft calc(var(--animbase) * 2) var(--inout) forwards;
}

.stagger-scale-swift {
  opacity: 0;
  will-change: opacity;
  animation: FadeScale calc(var(--animbase) * 2) var(--inout) 200ms forwards;
}

@keyframes In {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes Out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes Scale {
  0% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes ScaleMd {
  0% { transform: scale(1.4); }
  100% { transform: scale(1); }
}

@keyframes FromLeft {
  0% { transform: translateX(-100vw); }
  100% { transform: translateX(0); }
}

@keyframes FromTop {
  0% { transform: translateY(0); }
  100% { transform: translateY(102%); }
}

@keyframes ScaleLeft {
  0% { transform: scaleX(0); }
  50% { transform: scaleX(1); }
  100% { transform: translateX(104%); }
}

@keyframes FadeScale {
  0% { opacity: 0; transform: scale(1.1); }
  70% { opacity: 1; }
  100% { opacity: 1; transform: scale(1); }
}

// general
.op-0 { opacity: 0; }

.mt-0 { margin-top: calc(var(--unit) * 0.5 ); }
.mt-1 { margin-top: calc(var(--unit) * 1 ); }
.mt-2 { margin-top: calc(var(--unit) * 2); }
.mt-3 { margin-top: calc(var(--unit) * 3); }
.mt-4 { margin-top: calc(var(--unit) * 4); }
.mt-5 { margin-top: calc(var(--unit) * 5); }
.mt-6 { margin-top: calc(var(--unit) * 6); }
.mt-7 { margin-top: calc(var(--unit) * 7); }
.mt-8 { margin-top: calc(var(--unit) * 8); }
.mt-9 { margin-top: calc(var(--unit) * 9); }

.mr-0 { margin-right: calc(var(--unit) * 0.5 ); }
.mr-1 { margin-right: calc(var(--unit) * 1 ); }
.mr-2 { margin-right: calc(var(--unit) * 2); }
.mr-3 { margin-right: calc(var(--unit) * 3); }
.mr-4 { margin-right: calc(var(--unit) * 4); }
.mr-5 { margin-right: calc(var(--unit) * 5); }
.mr-6 { margin-right: calc(var(--unit) * 6); }
.mr-7 { margin-right: calc(var(--unit) * 7); }
.mr-8 { margin-right: calc(var(--unit) * 8); }
.mr-9 { margin-right: calc(var(--unit) * 9); }

.mb-00 { margin-bottom: calc(var(--unit) * 0.3 ); }
.mb-0  { margin-bottom: calc(var(--unit) * 0.5 ); }
.mb-1  { margin-bottom: calc(var(--unit) * 1 ); }
.mb-2  { margin-bottom: calc(var(--unit) * 2); }
.mb-3  { margin-bottom: calc(var(--unit) * 3); }
.mb-4  { margin-bottom: calc(var(--unit) * 4); }
.mb-5  { margin-bottom: calc(var(--unit) * 5); }
.mb-6  { margin-bottom: calc(var(--unit) * 6); }
.mb-7  { margin-bottom: calc(var(--unit) * 7); }
.mb-8  { margin-bottom: calc(var(--unit) * 8); }
.mb-9  { margin-bottom: calc(var(--unit) * 9); }

.ml-0 { margin-left: calc(var(--unit) * 0.5 ); }
.ml-1 { margin-left: calc(var(--unit) * 1 ); }
.ml-2 { margin-left: calc(var(--unit) * 2); }
.ml-3 { margin-left: calc(var(--unit) * 3); }
.ml-4 { margin-left: calc(var(--unit) * 4); }
.ml-5 { margin-left: calc(var(--unit) * 5); }
.ml-6 { margin-left: calc(var(--unit) * 6); }
.ml-7 { margin-left: calc(var(--unit) * 7); }
.ml-8 { margin-left: calc(var(--unit) * 8); }
.ml-9 { margin-left: calc(var(--unit) * 9); }

.pt-0 { padding-top: calc(var(--unit) * 0.5 ); }
.pt-1 { padding-top: calc(var(--unit) * 1 ); }
.pt-2 { padding-top: calc(var(--unit) * 2); }
.pt-3 { padding-top: calc(var(--unit) * 3); }
.pt-4 { padding-top: calc(var(--unit) * 4); }
.pt-5 { padding-top: calc(var(--unit) * 5); }
.pt-6 { padding-top: calc(var(--unit) * 6); }
.pt-7 { padding-top: calc(var(--unit) * 7); }
.pt-8 { padding-top: calc(var(--unit) * 8); }
.pt-9 { padding-top: calc(var(--unit) * 9); }

.pb-0 { padding-bottom: calc(var(--unit) * 0.5 ); }
.pb-1 { padding-bottom: calc(var(--unit) * 1 ); }
.pb-2 { padding-bottom: calc(var(--unit) * 2); }
.pb-3 { padding-bottom: calc(var(--unit) * 3); }
.pb-4 { padding-bottom: calc(var(--unit) * 4); }
.pb-5 { padding-bottom: calc(var(--unit) * 5); }
.pb-6 { padding-bottom: calc(var(--unit) * 6); }
.pb-7 { padding-bottom: calc(var(--unit) * 7); }
.pb-8 { padding-bottom: calc(var(--unit) * 8); }
.pb-9 { padding-bottom: calc(var(--unit) * 9); }

.op-0 { opacity: 0; }
.op-1 { opacity: 0.1; }
.op-2 { opacity: 0.2; }
.op-3 { opacity: 0.3; }
.op-4 { opacity: 0.4; }
.op-5 { opacity: 0.5; }
.op-6 { opacity: 0.6; }
.op-7 { opacity: 0.7; }
.op-8 { opacity: 0.8; }
.op-9 { opacity: 0.9; }